<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>
<div class="header-top-bar nav-wrapper-desktop">
        <nav class="top-nav" id="top-nav">
            <ul class="user-nav-list">
                <li><a href="https://portal.roastpath.com/dashboard/">My Roastery</a></li>
                <li><a href="https://portal.roastpath.com/forums/">Community</a></li>
                <li><a href="https://portal.roastpath.com/account/info/">Settings</a></li>
                <li><a href="https://portal.roastpath.com/dashboard/">Help</a></li>
            </ul>
        </nav>
</div>
<header class="header">
  <div class="logo">
    {{#link 'help_center'}}
      <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}" />
    {{/link}}
  </div>

<!--  <<div class="nav-wrapper-desktop">-->
    <nav class="user-nav" id="user-nav">
      <ul class="user-nav-list">
          <li class="boxed-link"><a href="https://portal.roastpath.com/dashboard/">Portal</a></li>
      </ul>
    </nav>
<!--  </div>-->

</header>

<div class="bottom-nav">
    <div class="nav-wrapper-mobile">
        <button class="menu-button-mobile" aria-controls="user-nav-mobile" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-menu">
                <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13"/>
            </svg>
        </button>
        <nav class="menu-list-mobile" id="user-nav-mobile" aria-expanded="false">
            <ul class="menu-list-mobile-items">

                <li class="item">
                    {{#link "sign_in" role="menuitem"}}
                        {{t 'sign_in'}}
                    {{/link}}
                </li>
                <li class="nav-divider"></li>
                <li class="item"><a href="https://portal.roastpath.com/dashboard/">My Roastery</a></li>
                <li class="item"><a href="https://portal.roastpath.com/forums/">Community</a></li>
                <li class="item"><a href="https://portal.roastpath.com/account/info/">Settings</a></li>
                <li class="item"><a href="https://portal.roastpath.com/dashboard/">Help</a></li>
                </li>
            </ul>
        </nav>
    </div>
</div>
